<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Scott Duke</title>
  <meta name="description" content="Scott Duke">
  <meta name="author" content="Scott">

  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/styles.css">

</head>

<body>
  <div id="wrapper">
    <div id="container">
      <h1>Scott Duke</h1>
      <h2>Ruby on Rails developer from the UK</h2>
      <div class="contact-me">
        <i class="fa fa-twitter"> <a href="https://twitter.com/scottdk3y" target="_blank">scottdk3y</a></i>
        <i class="fa fa-instagram"> <a href="https://www.instagram.com/scottdky/" target="_blank">scottdky</a></i>
        <i class="fa fa-github"> <a href="https://github.com/ScottDuke" target="_blank">ScottDuke</a></i>
      </div>
    </div>

  </div>
  <footer id="footer">
    <p>&copy; 2017 Scott Duke</p>
  </footer>
</body>
</html>
